.app {
  padding: 0 5vw;
  &__title{
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 43px;
  }
}

@media (max-width: 640px) {
    .app{
        &__title{
            margin-bottom: 2px;
        }
    }
}