html {
  height: 100%;
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}


body {
  height: 100%;
  margin: 0;
  color: #FFFFFF;
  background: #181818 linear-gradient(to bottom, #1e1858, transparent) top/auto 100px no-repeat;
}
